#mario{
    width: 40px;
    margin-top: 510px;
    /* margin-left: 100px; */
    transition: all .1s;
    position: absolute;
    z-index: 400;
}
.velocidad{
    transition: all .5s;
}

#dragonMalo{
  width: 70px;
  position: absolute;
  top: 510px;
  right: 20px;
  height: 60px;
  z-index: 10;
  transition: all 10s;
}
body{
    background-color: black;
}
.containerMario{
    background-image: url(https://i.pinimg.com/originals/67/9a/cf/679acfc168d0846ab8834d5ef7735038.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;
    border: 2px solid yellowgreen;
    margin-left: 17%;
    margin-top: 2%;
    position: relative;
    overflow: hidden;
}

#piso{
    position: absolute;
    width: 805px;
    right: 0px;
    top: 87%;
}
#peleanaruto{
    top: 333px;
    position: absolute;
    left: 155px;
}
#vidas{
    position: absolute;
    width: 100px;
    margin: 19px 80%;
}