#mario{
    width: 40px;
    margin-top: 510px;
    /* margin-left: 100px; */
    transition: all .1s;
    position: relative;
}
.velocidad{
    transition: all .3s;
}

#dragonMalo{
    width: 70px;
    position: absolute;
  top: 510px;
  right: 20px;
  height: 60px;
  z-index: 10;
  transition: all 50s;
}
body{
    background-color: black;
}
.containerMario{
    background-image: url(https://cdn.wallpapersafari.com/10/46/bWs2Tc.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 600px;
    border: 2px solid yellowgreen;
    margin-left: 17%;
    margin-top: 2%;
    position: relative;
    overflow: hidden;

}